	<article id = "liveTiles">
			<div class="demo-wrapper">
				<!-- classnames for the pages should include: 1) type of page 2) page name-->
				<div class="s-page random-restored-page">
					<h2 class="page-title">Some minimized App</h2>

					<div class="close-button s-close-button">x</div>
				</div>
				<div class="s-page custom-page">
					<h2 class="page-title">Thank You!</h2>

					<div class="close-button s-close-button">x</div>
				</div>
				<div class="dashboard clearfix">
					<ul class="tiles">
						<div class="col1 clearfix">
							<li class="tile tile-big tile-4 fig-tile" data-page-type="r-page" data-page-name="random-r-page">
								<figure>
									<img src="images/men.jpg"/>
									<figcaption class="tile-caption caption-left">Two and a half men</br></br></br>Yesterday
										Night</br>Rating &nbsp; &#9734;&#9734;&#9734;&#9734; </figcaption>
								</figure>
							</li>
							<li class="tile tile-big tile-5 slideTextLeft" data-page-type="r-page" data-page-name="random-r-page">
								<div><p>...truly mesmerizing...</p></div>
								<div><p>...universally cool...</p></div>
							</li>


						</div>

						<div class="col2 clearfix">
							<li class="tile tile-big tile-6 slideTextLeft" data-page-type="r-page" data-page-name="random-r-page">
								<div><p>passion</p></div>
								<div><p>destruction</p></div>
							</li>
							<li class="tile tile-big tile-4 fig-tile" data-page-type="r-page" data-page-name="random-r-page">
								<figure>
									<img src="images/blue.jpg"/>
									<figcaption class="tile-caption caption-left">Game of thrones</br></br></br>Yesterday Night</br>
										Rating &nbsp; &#9734;&#9734;&#9734;&#9734; </figcaption>
								</figure>
							</li>
						</div>
					</ul>
				</div>
			</div>
	</article>