<html>
<head>
    <title>Fans+ Critics Your movie concierge</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/stars.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/tile-style.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.webRating.js"></script>
    <script src="../static/js/tiles.js"></script>
    <script src="../static/js/modernizr-1.5.min.js"></script>
    <script src="../static/js/stars.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/search-style.css"/>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>
</head>
<body>
<header>
    <!--Navigation bar-->
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../static/images/product/Fans+Critics-Logo.png"
                                                  style="height:50px"></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">This week</a></li>
                <li><a href="#">Top 250</a></li>
            </ul>
            <div class="navbar-form navbar-left">
            {% block movie_search %}
            {% endblock %}
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="userName" style="font-size:1.2em;">{{ username }}</a></li>
                 {% block useraccount %}
            <li><a id="register" style="font-size:1.4em;">Register</a></li>
                <li class="dropdown">
                    <!-- User account details-->

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style = "font-size: 1.2em">Login </a>
                    <ul class="dropdown-menu">

                   <form action="/login/" method="post" accept-charset="UTF-8">
                      {% csrf_token %}
                      <input id="user_username" style="margin-bottom: 15px;" type="text" name="username" placeholder="Username" size="30" />
                      <input id="user_password" style="margin-bottom: 15px;" type="password" name="password" placeholder="Password" size="30" />
                      <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" />
                      <label class="string optional" for="user_remember_me"> Remember me</label>

                      <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                    </form>
{% endblock %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--End Navigation bar-->
</header>
<article id="mainDisplayContent">
    {% block content %}
    {% endblock %}
    {% load movie_article %}
    {% generate_movie_article movie_id %}
</article>
<aside>
    {% load aside %}
    {% get_aside_content "../static/images/vertical-banner.png" %}
</aside>
<!-- Movie view-->
<section>
    {% load recommendations %}
    {% recommend user %}
</section>
}
<!--	
	<aside>
		<div id = "questions">
		</div>
		<div id = "ads">
		</div>
	</aside>
-->
<footer>
    <p style="text-align:center">2014 Mario Dimitrov</p>
</footer>
</body>
</html>