<html>
<head>
    <title>Fans+ Critics Your movie concierge</title>
    <link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}/css/stars.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}/css/register.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/tile-style.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.webRating.js"></script>
    <script src="{{ STATIC_URL }}/js/tiles.js"></script>
    <script src="{{ STATIC_URL }}/js/modernizr-1.5.min.js"></script>
    <script src="{{ STATIC_URL }}/js/stars.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/search-style.css"/>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/search.js"></script>
</head>
<body>
<header>
    <!--Navigation bar-->
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><img src="{{ STATIC_URL }}/images/product/Fans+Critics-Logo.png"
                                         style="height:50px"></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="#">This week</a></li> -->
            </ul>
            <div class="navbar-form navbar-left" style="margin-bottom:30px;margin-left: 80px">
                <div id="activeSearch">
                    <form method="get" action="/search/" id="searchform">
                        <div>
                            <input type="text" size="30" value="" placeholder="Search" name='q' id="inputString"
                                   onkeyup="submit"/>
                        </div>
                        <div id="suggestions" class="list-group">
                            {% for result in alternatives %}

                                <script>
                                    $('#suggestions').fadeIn();
                                    setTimeout(function () {
                                        $('#suggestions').fadeOut()
                                    }, 4500);
                                </script>

                                <a href="/movies/{{ result.movie_id }}/" class="list-group-item">
                                    <h4 class="list-group-item-heading" style="font-size: 1em">{{ result.title }}</h4>
                                    <span style="font-size: 0.9em">{{ result.year }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a id="userName" style="font-size:1.2em;">{{ user.get_full_name }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Settings</a></li>
                            <li class="divider"></li>
                            <form action="/logout/" method="post" accept-charset="UTF-8">
                                {% csrf_token %}
                                <input class="btn btn-danger"
                                       style="clear: left; width: 100%; height: 32px; font-size: 13px;"
                                       type="submit" name="commit" value="Logout"/>
                            </form>
                        </ul>
                        {% else %}
                    </li>
                    <li>
                        <!-- Button to trigger modal -->
                        <a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Register</a>

                        {% include "register.html" %}

                    </li>
                    <li class="dropdown">
                    <!-- User account details-->

                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown"
                       style="font-size: 1.2em">Login </a>
                    <ul class="dropdown-menu">

                    <form style="padding: 15px;" action="/login/" method="post" accept-charset="UTF-8">
                        {% csrf_token %}
                        <input id="user_username" style="margin-bottom: 15px;" type="text" name="username"
                               placeholder="Username" size="30"/>
                        <input id="user_password" style="margin-bottom: 15px;" type="password" name="password"
                               placeholder="Password" size="30"/>
                        <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;"
                               type="submit" name="commit" value="Sign In"/>
                    </form>
                {% endif %}
                </ul>
                </li>
            </ul>
        </div>
        {% if should_show_message == "true" %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <strong>{{ message_header }}</strong> {{ message_content }}
        {% endif %}
        </div>
    </nav>
    <!--End Navigation bar-->
</header>
<article id="mainDisplayContent">
    {% block content %}
        <div id="movieContent" style="float:left;width:73%;">
            <div class="bs-example">
                <div id="displayCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="" data-slide-to="0" class="active"></li>
                        <li data-target="" data-slide-to="1"></li>
                        <li data-target="" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="{{ STATIC_URL }}images/grand-budapest-hotel.png"/>
                        </div>
                        <div class="item">
                            <div class="active item">
                                <img src="{{ STATIC_URL }}images/les.jpg"/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="active item">
                                <img src="{{ STATIC_URL }}images/postera.jpg"/>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}

</article>
<aside id="additionalMenu" style="float:right;max-width:20%;margin-right:5%;">
    <img src="{{ STATIC_URL }}/images/vertical-banner.png">
</aside>
<!-- Movie view-->
<section>
    {% if user.is_authenticated %}
        {% include 'recommendations.html' %}
    {% endif %}
</section>

<!--	
	<aside>
		<div id = "questions">
		</div>
		<div id = "ads">
		</div>
	</aside>
-->
<footer>
    <p style="text-align:center;clear:both">2014 Mario Dimitrov</p>
</footer>
</body>
</html>