<!DOCTYPE html>
<html>
<head>
    <title>Load failure</title>
</head>
<body style="background-color: #df691a">
<div style="margin-left: 30%; margin-right: 10%;">
    <h2 style="clear:both; font-size: 30px;">Well, this is embarrassing...</h2>
    <h4>Now, you can get back to your favorite movies ...hopefully.</h4>
    <a href="/" alt="Go back"><img src="{{ STATIC_URL }}/images/product/Fans+Critics-Logo.png"
                                   style="height:100px;margin-left:8%; clear:both;text-align: center"></a>
</div>
</body>
</html>