<article id="liveTiles">
    <div class="demo-wrapper">
        <div class="dashboard clearfix">
            <ul class="tiles">
                <div class="col1 clearfix">
                    {% for movie in rec_column_one %}
                        <li class="tile tile-big tile-4 fig-tile" data-page-type="r-page"
                            data-page-name="random-r-page">
                            <figure>
                                <a href="/movies/{{ movie.get_href }}">
                                    <img src="{{ movie.get_image }}"/>
                                    <figcaption class="tile-caption caption-left"> {{ movie.get_title }} </br></br>
                                        <p> {{ movie.get_description }} </p></br>
                                    </figcaption>
                                </a>
                            </figure>
                        </li>
                    {% endfor %}
                </div>


                <div class="col2 clearfix">
                    {% for movie in rec_column_two %}
                        <li class="tile tile-big tile-4 fig-tile" data-page-type="r-page"
                            data-page-name="random-r-page">
                            <figure>
                                <a href="/movies/{{ movie.get_href }}">
                                    <img src="{{ movie.get_image }}"/>
                                    <figcaption class="tile-caption caption-left"> {{ movie.get_title }} </br></br>
                                        <p> {{ movie.get_description }} </p></br></br>Rating {{ movie.get_rating|safe }}
                                    </figcaption>
                                </a>
                            </figure>

                        </li>
                    {% endfor %}
                </div>


                <div class="col3 clearfix">
                    {% for movie in rec_column_three %}
                        <li class="tile tile-big tile-4 fig-tile" data-page-type="r-page"
                            data-page-name="random-r-page">
                            <figure>
                                <a href="/movies/{{ movie.get_href }}">
                                    <img src="{{ movie.get_image }}"/>
                                    <figcaption class="tile-caption caption-left"> {{ movie.get_title }} </br></br>
                                        <p> {{ movie.get_description }} </p></br></br>Rating {{ movie.get_rating }}
                                    </figcaption>
                                </a>
                            </figure>
                        </li>
                    {% endfor %}
                </div>

            </ul>
        </div>
    </div>
</article>